body {
  padding: 20px;
  font-family: "Microsoft JhengHei";
  background: url(../img/egg_bg.svg)50% 0 no-repeat fixed;
}

#wrap {
  margin: 0 auto;
}

/*------------------ header ------------------*/

#header {
  height: 9rem;
  background-color: #c36919;
  border-radius: 8rem 8rem .5rem .5em;
  box-shadow: 0px -3px 50px 3px rgba(165, 60, 0, 0.5) inset, 1px 1px 5px 1px rgba(55, 20, 0, 0.2);
}

.sesame-l {
  width: 4rem;
  height: 4rem;
  margin-top: 2.4rem;
  border-width: 0px;
  border-color: transparent;
  border-radius: 250px 10px 170px 100px / 170px 10px 250px 100px;
  background-color: #ffeab0;
  transform: scale(0.95, 1) rotate(-10deg);
  box-shadow: 0px -2px 12px 4px rgba(197, 105, 0, 0.49) inset, 0px 2px 5px 1px rgba(55, 20, 0, 0.25);
}

.sesame-c {
  width: 4rem;
  height: 4rem;
  margin-top: 3rem;
  border-width: 0px;
  border-color: transparent;
  border-radius: 250px 10px 170px 120px / 170px 10px 250px 120px;
  background-color: #ffeab0;
  transform: scale(0.95, 1) rotate(-45deg);
  box-shadow: 0px -2px 12px 4px rgba(197, 105, 0, 0.49) inset, 0px 2px 5px 1px rgba(55, 20, 0, 0.25);
}

.sesame-r {
  width: 4rem;
  height: 4rem;
  margin-top: 2.4rem;
  border-width: 0px;
  border-color: transparent;
  border-radius: 250px 10px 170px 100px / 170px 10px 250px 100px;
  background-color: #ffeab0;
  transform: scale(0.95, 1) rotate(-80deg);
  box-shadow: 2px -2px 12px 4px rgba(197, 105, 0, 0.49) inset, -2px 2px 5px 1px rgba(55, 20, 0, 0.25);
}

button+button {
  margin-left: 2.5rem;
}

/*------------------ main ------------------*/

#main {
  padding: 1.5rem 1.5rem .2rem 1.5rem;
  margin: 0 .3rem 0 .3rem;
  background-color: #ffefc0;
  box-shadow: 0 15px 10px -13px #7e3b00ba inset, 0 -13px 8px -13px #7e3b00bf inset, 1px 1px 5px 1px rgba(55, 20, 0, 0.2);
}

input[type="checkbox"] {
  cursor: pointer;
}

.fa-star {
  cursor: pointer;
  color: #642d00;
}

.card {
  margin-bottom: 1.2rem;
  border: none;
  border-bottom: 3px solid #642d00;
  border-radius: .25rem .25rem 0 0;
  box-shadow: 0px 1.5px 7px .5px rgba(90, 40, 0, .14);
}

.card-header {
  padding: .6rem 1rem .6rem 1rem;
  background-color: transparent;
  border-bottom: .5px solid #642d00;
}

.card-header a {
  margin-left: 8px;
  font-size: 1.2rem;
  color: #642d00;
}

.card-header p {
  margin-bottom: 0;
  font-size: .5rem;
  color: #bbb;
  margin-left: 1.5rem;
}

.card-header svg {
  margin-left: .3rem;
}

.card-header button {
  float: right;
  margin-top: .2rem;
}

.done {
  border-bottom: 3px solid #fff;
  transition: .3s;
  -moz-transition: .3s;
  -webkit-transition: .3s;
  -o-transition: .3s;
}

.done-header {
  border-bottom: .5px solid #fff;
  background-color: #28a745 !important;
  transition: .3s;
  -moz-transition: .3s;
  -webkit-transition: .3s;
  -o-transition: .3s;
}

.done-header a,
.done-header p,
.done-header svg {
  text-decoration: line-through;
  color: rgba(255, 255, 255, .5);
  transition: .3s;
  -moz-transition: .3s;
  -webkit-transition: .3s;
  -o-transition: .3s;
}

.stared {
  border-bottom: 3px solid #fff;
  transition: .3s;
  -moz-transition: .3s;
  -webkit-transition: .3s;
  -o-transition: .3s;
}

.stared-header {
  border-bottom: .5px solid #fff;
  background-color: #dc3545;
  transition: .3s;
  -moz-transition: .3s;
  -webkit-transition: .3s;
  -o-transition: .3s;
}

.stared-header a,
.stared-header p,
.stared-header svg {
  color: #fff;
  transition: .3s;
  -moz-transition: .3s;
  -webkit-transition: .3s;
  -o-transition: .3s;
}

/* .closeCard::after {
  content: "＋";
  color: #ffbb00;
  font-size: 1.5rem;
  display: table;
  clear: both;
}

.openCard::after {
  content: "－";
  color: #ffbb00;
  font-size: 1.5rem;
  display: table;
  clear: both;
} */

/* 
.card-header a:hover::after {
  content: "-";
}

.card-header a:active::after {
  content: "-";
} */

/* .card-header input,
.card-header label {
  cursor: pointer;
} */

/* .card-header input[type="checkbox"] {
  margin-right: 5px;
}

.card-header input[type="checkbox"]:checked+label {
  color: #ccc;
  text-decoration: line-through;
  cursor: pointer;
} */

.card-body {
  padding: 1.25rem 1.8rem;
  background-color: rgb(255, 255, 248);
}

.courses .mix-target {
  display: none;
}

/*------------------ footer ------------------*/

#footer {
  height: 3rem;
  background-color: #c36919;
  border-radius: .5rem .5em 3rem 3rem;
  box-shadow: 0px -3px 20px 3px rgba(165, 60, 0, 0.5) inset, 1px 1px 5px 1px rgba(55, 20, 0, 0.2);
}

@media (max-width: 575.98px) {
  body {
    padding: 1rem .05rem 1rem .05rem;
  }
  .container {
    padding-right: 0;
    padding-left: 0;
  }


  /*------------------ header ------------------*/
  #header {
    height: 8.5rem;
  }
  .sesame-l,
  .sesame-r {
    margin-top: 2.2rem;
  }
  .sesame-c {
    margin-top: 2.8rem;
  }
  button+button {
    margin-left: 1rem;
  }


  /*------------------ main ------------------*/
  #main {
    padding: 1.5rem 1.2rem .2rem 1.2rem;
  }
}